:root {
  --dark-blue: #000049;
  --light-blue: #f2f5f9;
  --white: #ffffff;
  --aqua: #64d3ca;
  --black: #141414;
  --blue: #003f84;
  --duration-interval: 0.2s;
}

@font-face {
  font-family: "cambria";
  src: url("fonts/cambria.eot");
  src: url("fonts/cambria.eot?#iefix") format("embedded-opentype"),
       url("fonts/cambria.woff") format("woff"),
       url("fonts/cambria.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "cambria";
  src: url("fonts/cambria-bold.eot");
  src: url("fonts/cambria-bold.eot?#iefix") format("embedded-opentype"),
  url("fonts/cambria-bold.woff") format("woff"),
  url("fonts/cambria-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-color: var(--dark-blue) transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: var(--light-blue);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  width: 2px;
  background-color: transparent;
}

body {
  font-family: "Cambria", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-blue);
  background-color: var(--white);
}

.overflow {
  overflow: hidden;
}

h1 {
  font-size: 80px;
  font-weight: 400;
}

@media (max-width: 560px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

@media (max-width: 560px) {
  h2 {
    font-size: 36px;
  }
}

a,
button {
  transition-property: all;
  transition-duration: var(--duration-interval);
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1180px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

@media (max-width: 560px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.page-wrapper {
  overflow: hidden;
}

.page-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

.page-header > .container {
  max-width: 1300px;
}

.header-row {
  display: flex;
  align-items: flex-start;
}

.logo {
  margin-top: 52px;
  margin-right: auto;
}

@media (max-width: 875px) {
  .logo {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 560px) {
  .logo {
    margin-top: 25px;
  }

  .logo-picture {
    max-width: 120px;
  }
}

@media (max-width: 875px) {
  .menu-wrapper {
    position: fixed;
    right: -320px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 320px;
    background-color: var(--white);
    transition-property: all;
    transition-duration: var(--duration-interval);
  }

  .menu-wrapper.open {
    right: 0;
  }
}

.main-menu {
  display: flex;
  align-items: center;
  margin-top: 41px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@media (max-width: 875px) {
  .main-menu {
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
  }
}

.main-menu li:not(:first-child) {
  margin-left: 24px;
}

@media (max-width: 875px) {
  .main-menu li {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .main-menu li:not(:first-child) {
    margin-left: 0;
  }
}

.main-menu a {
  color: var(--white);
  text-decoration: none;
}

@media (max-width: 875px) {
  .main-menu a {
    color: var(--dark-blue);
  }
}

.main-menu a:hover {
  color: var(--aqua);
}

.current a {
  position: relative;
  color: var(--aqua);
  font-weight: 700;
}

.current a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--aqua);
}

.menu-button {
  display: none;
  width: 25px;
  height: 16px;
  margin-top: 43px;
  margin-left: 31px;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  border: 0;
}

@media (max-width: 875px) {
  .menu-button {
    position: absolute;
    z-index: 15;
    display: block;
    right: 10px;
    margin-top: 35px;
  }
}

@media (max-width: 560px) {
  .menu-button {
    right: 15px;
    width: 31px;
    height: 20px;
    margin-top: 25px;
  }
}

.menu-button-icon {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--white);
}

.menu-button-icon::before,
.menu-button-icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  transition-property: all;
  transition-duration: var(--duration-interval);
}

.active .menu-button-icon::before,
.active .menu-button-icon::after {
  background-color: var(--dark-blue);
}

.menu-button-icon::before {
  top: -7px;
}

@media (max-width: 560px) {
  .menu-button-icon::before {
    top: -9px;
  }
}

.active .menu-button-icon::before {
  top: 0;
  transform: rotate(45deg);
}

.menu-button-icon::after {
  bottom: -7px;
}

@media (max-width: 560px) {
  .menu-button-icon::after {
    bottom: -9px;
  }
}

.active .menu-button-icon::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.intro {
  position: relative;
}

.intro-picture {
  display: block;
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: bottom;
}

@media (max-width: 875px) {
  .home .intro-picture {
    object-position: bottom right;
  }
}

@media (max-width: 560px) {
  .intro-picture {
    height: 640px;
  }
}

.intro-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 207px;
  text-align: center;
  color: var(--white);
}

@media (max-width: 560px) {
  .intro-content {
    padding-top: 116px;
  }
}

.page-title {
  margin-bottom: 0;
  line-height: 94px;
}

@media (max-width: 560px) {
  .page-title {
    line-height: 42px;
  }
}

.intro-description {
  margin-top: 8px;
  font-size: 26px;
  line-height: 30px;
}

@media (max-width: 560px) {
  .intro-description {
    margin-top: 8px;
    font-size: 18px;
    line-height: 21px;
  }
}

.section-title {
  text-align: center;
}

.about {
  max-width: 800px;
  padding: 70px 10px 71px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 560px) {
  .about {
    padding: 15px 10px 16px;
  }
}

.about-header {
  padding-top: 128px;
  padding-bottom: 169px;
  margin-bottom: 26px;
  background-image: url("images/pic-helm.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 560px) {
  .about-header {
    padding-top: 84px;
    padding-bottom: 84px;
    margin-bottom: 0;
  }
}

.about-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  background-color: var(--dark-blue);
}

@media (max-width: 560px) {
  .about-title::after {
    margin-top: 26px;
  }
}

.content p {
  margin-top: 21px;
  margin-bottom: 21px;
}

@media (max-width: 560px) {
  .content p {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 15px;
  }
}

.services {
  padding-top: 38px;
  padding-bottom: 84px;
  background-color: var(--light-blue);
}

@media (max-width: 560px) {
  .services {
    padding-top: 34px;
    padding-bottom: 4px;
  }
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 68px -10px 0;
  padding-left: 0;
  list-style: none;
}

@media (max-width: 875px) {
  .services-list {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
  }
}

.services-item {
  width: calc((100% / 6) - 20px);
  margin-right: 10px;
  margin-left: 10px;
}

@media (max-width: 1040px) {
  .services-item {
    width: calc(25% - 20px);
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .services-item {
    width: calc((100% / 3) - 20px);
  }
}

@media (max-width: 560px) {
  .services-item {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.services-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: var(--white);
}

@media (max-width: 560px) {
  .services-icon-wrapper {
    width: 124px;
    height: 124px;
  }
}

.services-icon {
  fill: var(--dark-blue);
}

@media (max-width: 560px) {
  .services-icon {
    transform: scale(1.2);
  }
}

.services-item p {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}

@media (max-width: 560px) {
  .services-item p {
    margin-top: 26px;
    font-size: 18px;
    line-height: 21px;
  }
}

.projects {
  padding-top: 37px;
  padding-bottom: 10px;
}

.projects-home {
  padding-bottom: 68px;
}

@media (max-width: 560px) {
  .projects {
    padding-top: 5px;
    padding-bottom: 0;
  }

  .projects-home {
    padding-bottom: 61px;
  }
}

.projects-description {
  padding-top: 34px;
  padding-bottom: 2px;
  text-align: center;
}

@media (max-width: 560px) {
  .projects-description {
    padding-top: 8px;
    padding-bottom: 14px;
  }
}

.projects > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: 18px -10px 20px;
}

@media (max-width: 360px) {
  .projects-list {
    margin: -7px -15px 15px;
  }
}

.project-item {
  width: calc((100% / 3) - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}

@media (max-width: 560px) {
  .project-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 360px) {
  .project-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.project-item-thumbnail {
  display: block;
}

.project-item-title {
  text-align: center;
  line-height: 21px;
  color: var(--dark-blue);
}

@media (max-width: 360px) {
  .project-item-title {
    margin-top: 12px;
    margin-bottom: 7px;
    font-weight: 700;
  }
}

.project-item-specifications {
  margin-top: -4px;
  margin-bottom: 20px;
  padding-left: 13px;
  list-style: none;
}

@media (max-width: 560px) {
  .project-item-specifications {
    padding-left: 0;
    margin-top: 1px;
    margin-bottom: 14px;
  }
}

.project-item-specifications li {
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}

@media (max-width: 560px) {
  .project-item-specifications li {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

.projects-more {
  font-weight: 700;
  color: var(--blue);
  text-decoration: none;
}

@media (max-width: 360px) {
  .projects-more {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
}

.projects-more-icon {
  fill: var(--blue);
}

@media (max-width: 360px) {
  .projects-more-icon {
    margin-left: 10px;
  }
}

.footer-content {
  padding-top: 57px;
  padding-bottom: 56px;
  color: var(--white);
  background-image: url("images/bg-footer.jpg");
  background-size: cover;
  background-position: top center;
}

@media (max-width: 560px) {
  .footer-content {
    padding-top: 8px;
    padding-bottom: 29px;
    text-align: center;
  }
}

.footer-row {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-left: 24px;
}

@media (max-width: 1300px) {
  .footer-row {
    padding-left: 0;
  }
}

@media (max-width: 875px) {
  .footer-row {
    flex-wrap: wrap;
  }
}

.footer-title {
  margin-top: 27px;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 42px;
}

.contacts {
  margin-right: 6.3%;
  flex-shrink: 0;
}

@media (max-width: 875px) {
  .contacts {
    width: 100%;
    margin-right: 0;
  }
}

.contacts-item {
  margin-top: 28px;
  margin-bottom: 32px;
  padding-left: 0;
  list-style: none;
}

@media (max-width: 560px) {
  .contacts-item {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .contacts-item:last-child {
    margin-bottom: 0;
  }
}

.contacts-item li {
  font-size: 18px;
  line-height: 21px;
}

.contacts-item a {
  text-decoration: none;
  color: inherit;
}

.location {
  flex-grow: 1;
  flex-shrink: 0;
}

@media (max-width: 560px) {
  .location {
    flex-grow: 0;
    width: 100%;
  }
}

.location-list {
  margin-top: 21px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.location-list li {
  font-size: 18px;
  line-height: 32px;
}

.map {
  float: right;
  margin-top: -70px;
  margin-right: 37px;
}

@media (max-width: 1040px) {
  .map {
    width: 60%;
    max-width: 426px;
    margin-right: 0;
  }
}

@media (max-width: 560px) {
  .map {
    width: 100%;
    margin-top: 0;
    float: initial;
  }
}

@media (max-width: 560px) {
  .map {
    margin: 22px -15px -14px;
    width: calc(100% + 30px);
  }
}

.go-top {
  position: absolute;
  right: -61px;
  bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--aqua);
  border-radius: 50%;
}

@media (max-width: 1300px) {
  .go-top {
    display: none;
  }
}

.copyright {
  margin-top: 0;
  margin-bottom: 0;
  padding: 6px 10px 8px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
}

@media (max-width: 360px) {
  .copyright {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 10px;
    line-height: 12px;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  position: absolute;
  top: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slick-arrow svg {
  stroke: #131313;
  transition-property: all;
  transition-duration: var(--duration-interval);
}

.slick-arrow:hover svg {
  stroke: var(--dark-blue);
}

.slick-arrow-prev {
  left: 0;
}

.slick-arrow-next {
  right: 0;
}
